body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.buttons,
#result {
    border: 1px solid gray;
    width: 70%;
    margin: auto;
    padding: 40px;
}
#result {
    text-align: center;
}

.buttons button {
    min-width: 80px;
    margin: 0 24px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header .container {
    width: 70%;
    margin: auto;
    background-color: grey;
    height: 80px;
}

header .container img {
    float: right;
}
